.button {
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -fx-font-size: small;
    -fx-background-color: rgba(101, 65, 188, 255);
}

.button:hover {
    -fx-background-color: rgba(226, 102, 42, 255);
}

.slider {
    -fx-pref-width: 100px;
    -fx-align-content: center;
}

.slider .track {
    -fx-background-color: linear-gradient(to left, rgba(226, 102, 42, 255), rgba(101, 65, 188, 255));
}

.slider .thumb {
    -fx-color: rgb(255, 255, 255);
    -fx-pref-height: 15px;
    -fx-pref-width: 8px;
    -fx-background-radius: 0;
    -fx-background-color: black;
}